.sidebar{
 
    height:930px;
    position: fixed;
     width: 19%;
    background-color:rgb(27, 79, 98);
    color: #a9afb7;
    border-radius:10px
    
    
    
}

.link{
width:80%;
display:flex;
align-items:center;
justify-content:center;
gap:30px;
margin: auto;
cursor: pointer;

}


.sidebar-contact-info{
    display: flex;
     gap: 10px;
      width: 80%;
      margin:auto;
     align-items: center;
   text-decoration: none;
   color: #a9afb7;

}

a{
    text-decoration: none;
    color: #a9afb7;   
}


.r-btn{
    margin-top: 50px;
}
.sidebar-resume-btn{

    padding: 8px 30px;
    border-radius: 20px;
    border: none;
    background-color: #a9afb7;
}

.mid-screen-sidebar{
    display: none;
   
}

@media all and (min-width:900px) and (max-width:1140px){
    .sidebar{
    margin-top: 8%;    
    width:28%;
    
    background-color:rgb(20, 67, 85);
    } 
    .full-screen-sidebar{
        /* display: none; */
    }
    .mid-screen-sidebar{
        /* display: block;
        gap:50px; */
    }

    /* .increasegap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:25px;
       
        height: 80%;
    } */

     .right-sidebar{
        display: none;  
    }
}



@media all and (min-width:100px) and (max-width:919px){
    /* .sidebar{
        
  display: none;
    } 
     */


      .right-sidebar{
        display: none;  
    } 
 } 