
.nav-link {
    color:#a9afb7;
    text-decoration: none;
    cursor: pointer;
} 
#resume-button-1{
    /* margin-top: -10px; */
    padding: 8px 25px;
    border-radius: 20px;
background-color:#a9afb7;
color: rgb(20, 67, 85);
border: none;
}

#resume-button-1:hover{
    overflow:auto;
    opacity:inherit;
}
.navbar > div{
    /* border: 1px solid blue; */
}
@media all and (min-width:900px) and (max-width:1140px){
    /* .navbar{
        display: none;
    } */

}