#home{
    margin-top: 6%;
    display:grid;
     
}
.s-btn{
    padding: 2% 5% ;
    border-radius: 10px;
    color: aliceblue;
    background-color:rgb(19, 2, 115);
    box-shadow: none;
    border: none;
    transition-duration: 0.7s;
    cursor: pointer;
}
.s-btn:hover{
    color: black;
    background-color: azure;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.intro-skills{
      margin-top: -18% ;
      display: flex;
      margin-left: 30%; 
      justify-content: space-evenly;
      width: 70%

}
#resume-button-2{
    width:40%;
    padding: 1% 5% ;

    border-radius: 10px;
    color: aliceblue;
    background-color:rgb(21, 28, 56);
    box-shadow: none;  
    margin-left: -60%;
    border:none;
    cursor: pointer;
}
#resume-button-2:hover{
    color:aliceblue;
    background-color:rgb(20, 25, 45);
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.text{
   
    margin:auto;
    text-align:justify;
    padding: 5%;
    font-size: large;
}

.midcontainer{
    width:55%;
    margin-left:20%;
}
.section{
   
    
    box-shadow: 'rgba(0, 0, 0, 0.35) 0px 5px 15px';
    background-color:rgb(27, 79, 98);
    border-radius: 10px;

}
#projects{
    background-color:rgb(59, 104, 120) ;   
}
@media all and (min-width:900px) and (max-width:1140px){
    .midcontainer{
        width:66%;
        margin-left:29%;
    }
    #home{
        margin-top: 1%;
        display:grid;
         
    }
   
    }

    @media all and (min-width:100px) and (max-width:919px){
        .midcontainer{
            width:98%;
            margin: auto
            
           
        }
        #home{
            margin-top: 1%;
            display:grid;
             
        }
        #nav-menu{
            display: none;
        }
        .text{
            size: 25px;
        }
       
        }