.projects-container{

    background-color:rgb(59, 104, 120);
    display:flex;
    flex-direction :column;
    gap : 20px;
}

.Grid{
    display: grid;
    grid-template-columns: repeat(2,1fr)
}

.normal{
    background-color:rgb(59, 104, 120);
    display:flex;
    flex-direction :column;
    gap : 20px; 
}